body {
    text-align: center;
    background-image: url("Colour.png");
    background-size: cover;
}
#text_text {
    font-size: 30px;
}
button {
    font-size: 20px;
    background-color: greenyellow;
    border-left-color: greenyellow;
    border-top-color: greenyellow;
    border-width: 3px;
}
#divider {
    background-color: white;
    display: inline-block;
    padding: 20px;
}
h1 {
    color: white;
    font-size: 40px;
}